:root {
  --card-light: #ffffff;
  --card-dark: #32323d;
  --card-fonttype: "Andika", sans-serif;
  --item-fontcolor-light: #5f5f5f;
  --item-fontcolor-dark: #dbdbdb;
  --item-fontcolor-checked-light: #b5b5b5;
  --item-fontcolor-checked-dark: #5f5f5f;
  --footer-fontcolor: #6f788d;
  --footer-fontcolor-hovered-light: #3d3d3d;
  --footer-fontcolor-hovered-dark: #c7c7c7;

  --checkbox-border-gradient: radial-gradient(
    circle at top left,
    rgba(146, 178, 247, 1),
    rgba(118, 55, 187, 1)
  );

  --checkbox-content-gradient: linear-gradient(
    circle at top left,
    rgba(146, 178, 247, 1),
    rgba(118, 55, 187, 1)
  );

  --custom-gradient: linear-gradient(
    135deg,
    rgba(146, 178, 247, 1) 0%,
    rgba(89, 148, a 237, 1) 37%,
    rgba(118, 55, 187, 1) 100%
  );
  --custom-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

body {
  height: 100vh;
  margin: 0;
}

::-ms-input-placeholder {
  color: rgba(202, 202, 202, 0.632);
}

::placeholder {
  color: rgb(202, 202, 202, 0.632);
}

input:focus {
  outline: none;
}

input[type="checkbox"] {
  visibility: hidden;
}

.scene-dark {
  background-color: rgb(35, 27, 41) !important;
}

.item-dark {
  background-color: #3b3945 !important;
}

.view-selected {
  color: rgb(32, 84, 241) !important;
}

#root {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#todo-card {
  width: 35%;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
}